.leftSide{
  position: fixed;
  opacity: 0.5;
  top: 0px;
  left:0px;
}
.player {
  width: 100%;
}

#regionsHeight1{
  height: 100% !important;
}
#regionsHeight2{
  height: 50% !important;
}

#regionsHeight3{
  height: 33.3% !important;
}

#regionsHeight4{
  height: 25% !important;
}

#regionsHeight5{
  height: 20% !important;
}

#regionsHeight6{
  height: 16.6% !important;
}

#regionsHeight7{
  height: 14.29% !important;
}

#regionsHeight8{
  height: 12.5% !important;
}

#regionsHeight9{
  height: 11.1% !important;
}

#regionsHeight10{
  height: 10% !important;
}

.playerBlock {
  position: fixed;
  top: 80%;
  width: 100%;
}

.youtubePlace {
  position: fixed;
  top: 0;
  height: 80%;
}

.MuiFab-root {
  margin: 8px !important;
}