.leftSide{
  position: fixed;
  opacity: 0.5;
  top: 0px;
  left:0px;
}
.player {
  width: 100%;
}

.wavesurfer-region{
  height: 33.3% !important;
}

.playerBlock {
  position: fixed;
  top: 80%;
  width: 100%;
}

.youtubePlace {
  position: fixed;
  top: 0;
  height: 80%;
}

region.left {
  top: 0 !important;;
}

region.middle {
  top: 33.3% !important;;
}

region.right {
  top: 66.6% !important;;
}

.MuiFab-root {
  margin: 8px !important;
}

